@charset "UTF-8";

@import 'mixins';

@include font-face("Montserrat", "../fonts/MontserratRegular/MontserratRegular", normal); 
@include font-face("Montserrat", "../fonts/MontserratBold/MontserratBold", 700);


/*** MIXINS USAGE ***

	@include xs(12);
	@include sm(12);
	@include md(12);
	@include lg(12);

	@include r(768);
	@include rmin(768);

	@include trans / trans($what $dur $easing);
	@include cover;

	@include centerX / centerXa
	@include centerY / centerYa

***/

html, body {
	height: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: #37474F;
}

.header {
    padding: 30px 65px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 113px;
    z-index: 10;
    mix-blend-mode: exclusion;
    filter: invert(65%);
    &__logo {
    	width: 50px;
    	img {
    		width: 100%;
    	}
    }
    &__menu {
    	position: absolute;
    	top: 30px;
    	right: 65px;
    	width: 50px;
    }
}

.portfolio {
	position: relative;
	padding: 30px 65px;
	li.visible {
		.text span.text__word {
			opacity: 0;
		}
	}

	&__info {
		margin-left: 65px;
		@include centerYa;
		left: 0;
		color: #fff;
	}
	&__title {
		font-weight: 700;
		font-size: 36px;
	    margin-bottom: 7px;
	    overflow: hidden;	    
	    span {
	    	display: block;
		}
	}
	&__desc {
		font-size: 10px;
		overflow: hidden;
		span {
			display: block;
		}
	}
	&__site {
		display: block;
		font-weight: bold;
		font-size: 13px;
	}

	&__visit {
		display: block;
	    margin-right: 32px;
	}
	&__link {
	    padding-right: 32px;
		@include centerYa;
		right: 32px;
		color: #fff;
		text-align: right;
		font-size: 10px;
		overflow: hidden;
		a {
			color: #fff;
			overflow: hidden;
			display: block;
			&:hover, &:focus {
				text-decoration: none;
			}
		}
		.arrow {
			position: relative;
			right: 0;
		}
	}
}

.slider-wrapper {
	width: 100%;
	height: calc(100% + 9px);
	padding: 0;
	margin: -9px 0 0;
	max-width: 100%;
	overflow: hidden;
	ul {
		margin: 0;
		padding: 0;
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    overflow: hidden;
	    transition: all 500ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
	    &.trans {

	    }
	    &.animate {
	    	top: 100px;
	    	right: 120px;
	    	left: 120px;
	    	bottom: 100px;

	    }
	}
}

h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50);
}

.slider-img {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.slider-controls {
    mix-blend-mode: exclusion;
    -webkit-filter: invert(65%);
    filter: invert(65%);
}


.text__first, .text__second{
  position: relative;
}

.text__word{
  opacity: 0;
}

.text__first-bg, .text__second-bg{
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  transform-origin: left;
  transform: scaleX(0);
}

.text__first-bg{
  background-color: #5fbff9;
}

.text__second-bg{
  background-color: #f06543;
}

.restart{
  position: absolute;
  font-size: 12px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  border: none;
  border-bottom: 1px dotted grey;
  padding: 0;
  margin: 0 auto 2%;
  cursor: pointer;
  color: grey;
}