@font-face {
  font-family: "Montserrat";
  font-weight: normal;
  src: url("../fonts/MontserratRegular/MontserratRegular.eot?") format("eot"), url("../fonts/MontserratRegular/MontserratRegular.woff") format("woff"), url("../fonts/MontserratRegular/MontserratRegular.ttf") format("truetype"), url('../fonts/MontserratRegular/MontserratRegular.svg#str-replace("Montserrat", " ", "_")') format("svg"); }

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url("../fonts/MontserratBold/MontserratBold.eot?") format("eot"), url("../fonts/MontserratBold/MontserratBold.woff") format("woff"), url("../fonts/MontserratBold/MontserratBold.ttf") format("truetype"), url('../fonts/MontserratBold/MontserratBold.svg#str-replace("Montserrat", " ", "_")') format("svg"); }

/*** MIXINS USAGE ***

	@include xs(12);
	@include sm(12);
	@include md(12);
	@include lg(12);

	@include r(768);
	@include rmin(768);

	@include trans / trans($what $dur $easing);
	@include cover;

	@include centerX / centerXa
	@include centerY / centerYa

***/
html, body {
  height: 100%; }

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #37474F; }

.header {
  padding: 30px 65px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 113px;
  z-index: 10;
  mix-blend-mode: exclusion;
  -webkit-filter: invert(65%);
  filter: invert(65%); }
  .header__logo {
    width: 50px; }
    .header__logo img {
      width: 100%; }
  .header__menu {
    position: absolute;
    top: 30px;
    right: 65px;
    width: 50px; }

.portfolio {
  position: relative;
  padding: 30px 65px; }
  .portfolio li.visible .text span.text__word {
    opacity: 0; }
  .portfolio__info {
    margin-left: 65px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    color: #fff; }
  .portfolio__title {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 7px;
    overflow: hidden; }
    .portfolio__title span {
      display: block; }
  .portfolio__desc {
    font-size: 10px;
    overflow: hidden; }
    .portfolio__desc span {
      display: block; }
  .portfolio__site {
    display: block;
    font-weight: bold;
    font-size: 13px; }
  .portfolio__visit {
    display: block;
    margin-right: 32px; }
  .portfolio__link {
    padding-right: 32px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 32px;
    color: #fff;
    text-align: right;
    font-size: 10px;
    overflow: hidden; }
    .portfolio__link a {
      color: #fff;
      overflow: hidden;
      display: block; }
      .portfolio__link a:hover, .portfolio__link a:focus {
        text-decoration: none; }
    .portfolio__link .arrow {
      position: relative;
      right: 0; }

.slider-wrapper {
  width: 100%;
  height: calc(100% + 9px);
  padding: 0;
  margin: -9px 0 0;
  max-width: 100%;
  overflow: hidden; }
  .slider-wrapper ul {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    -webkit-transition: all 500ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
    -o-transition: all 500ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.27, 1.55); }
    .slider-wrapper ul.animate {
      top: 100px;
      right: 120px;
      left: 120px;
      bottom: 100px; }

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50);
  -ms-transform: translate(-50%, -50);
  transform: translate(-50%, -50); }

.slider-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.slider-controls {
  mix-blend-mode: exclusion;
  -webkit-filter: invert(65%);
  filter: invert(65%); }

.text__first, .text__second {
  position: relative; }

.text__word {
  opacity: 0; }

.text__first-bg, .text__second-bg {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0); }

.text__first-bg {
  background-color: #5fbff9; }

.text__second-bg {
  background-color: #f06543; }

.restart {
  position: absolute;
  font-size: 12px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  border: none;
  border-bottom: 1px dotted grey;
  padding: 0;
  margin: 0 auto 2%;
  cursor: pointer;
  color: grey; }
