@font-face {
  font-family: "Montserrat";
  font-weight: normal;
  src: url("../fonts/MontserratRegular/MontserratRegular.eot?") format("eot"), url("../fonts/MontserratRegular/MontserratRegular.woff") format("woff"), url("../fonts/MontserratRegular/MontserratRegular.ttf") format("truetype"), url('../fonts/MontserratRegular/MontserratRegular.svg#str-replace("Montserrat", " ", "_")') format("svg"); }

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url("../fonts/MontserratBold/MontserratBold.eot?") format("eot"), url("../fonts/MontserratBold/MontserratBold.woff") format("woff"), url("../fonts/MontserratBold/MontserratBold.ttf") format("truetype"), url('../fonts/MontserratBold/MontserratBold.svg#str-replace("Montserrat", " ", "_")') format("svg"); }

/*** MIXINS USAGE ***

	@include xs(12);
	@include sm(12);
	@include md(12);
	@include lg(12);

	@include r(768);
	@include rmin(768);

	@include trans / trans($what $dur $easing);
	@include cover;

	@include centerX / centerXa
	@include centerY / centerYa

***/
html, body {
  height: 100%; }

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #37474F; }

.header {
  padding: 30px 65px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 113px;
  z-index: 10;
  mix-blend-mode: exclusion;
  -webkit-filter: invert(65%);
  filter: invert(65%); }
  .header__logo {
    width: 50px; }
    .header__logo img {
      width: 100%; }
  .header__menu {
    position: absolute;
    top: 30px;
    right: 65px;
    width: 50px; }

.portfolio {
  position: relative;
  padding: 30px 65px; }
  .portfolio li.visible p span, .portfolio li.visible a span {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  .portfolio li.visible .arrow {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  .portfolio li.visible img {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1.2);
    -ms-transform: translate(-50%, -50%) scale(1.2);
    transform: translate(-50%, -50%) scale(1.2); }
  .portfolio li span, .portfolio .arrow {
    -webkit-transition: all 0.8s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    -o-transition: all 0.8s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    transition: all 0.8s cubic-bezier(0.18, 0.89, 0.32, 1.28); }
  .portfolio img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 650px;
    opacity: 0;
    -webkit-transition: opacity .8s linear, -webkit-transform 8s ease-out;
    transition: opacity .8s linear, -webkit-transform 8s ease-out;
    -o-transition: opacity .8s linear, transform 8s ease-out;
    transition: opacity .8s linear, transform 8s ease-out;
    transition: opacity .8s linear, transform 8s ease-out, -webkit-transform 8s ease-out; }
  .portfolio__info {
    margin-left: 65px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    color: #fff; }
  .portfolio__title {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 7px;
    overflow: hidden; }
    .portfolio__title span {
      display: block;
      -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      transform: translateY(-100%); }
  .portfolio__desc {
    font-size: 10px;
    overflow: hidden; }
    .portfolio__desc span {
      display: block;
      -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
      transform: translateY(100%); }
  .portfolio__site {
    display: block;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%); }
  .portfolio__visit {
    display: block;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%); }
  .portfolio__link {
    padding-right: 32px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 65px;
    color: #fff;
    text-align: right;
    font-size: 10px;
    overflow: hidden; }
    .portfolio__link a {
      color: #fff;
      overflow: hidden;
      display: block; }
      .portfolio__link a:hover, .portfolio__link a:focus {
        text-decoration: none; }
      .portfolio__link a strong {
        font-size: 13px;
        display: inline-block;
        margin-bottom: 5px; }
    .portfolio__link .arrow {
      position: absolute;
      right: 0;
      top: 6px;
      left: initial;
      width: initial;
      height: initial;
      -webkit-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      transform: translateY(-15px); }

.slider-wrapper {
  width: 100%;
  height: calc(100% + 9px);
  padding: 0;
  margin: -9px 0 0;
  max-width: 100%;
  overflow: hidden; }
  .slider-wrapper ul {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    -webkit-transition: all 500ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
    -o-transition: all 500ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.27, 1.55); }
    .slider-wrapper ul.trans li span, .slider-wrapper ul.trans .arrow {
      -webkit-transition: all 0.8s cubic-bezier(0.18, 0.89, 0.32, 1.28);
      -o-transition: all 0.8s cubic-bezier(0.18, 0.89, 0.32, 1.28);
      transition: all 0.8s cubic-bezier(0.18, 0.89, 0.32, 1.28);
      -webkit-transition-delay: 500ms;
      -o-transition-delay: 500ms;
      transition-delay: 500ms; }
    .slider-wrapper ul.animate {
      top: 100px;
      right: 120px;
      left: 120px;
      bottom: 100px; }
      .slider-wrapper ul.animate .portfolio__title span {
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%); }
      .slider-wrapper ul.animate .portfolio__desc span {
        -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
        transform: translateY(100%); }
      .slider-wrapper ul.animate .portfolio__site {
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%); }
      .slider-wrapper ul.animate .portfolio__visit {
        -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
        transform: translateY(100%); }
      .slider-wrapper ul.animate .arrow {
        -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px); }

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50);
  -ms-transform: translate(-50%, -50);
  transform: translate(-50%, -50); }

.slider-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.slider-controls {
  mix-blend-mode: exclusion;
  -webkit-filter: invert(65%);
  filter: invert(65%); }
